<form id="form">
  <input placeholder="Name" id="name">
  <input placeholder="Department" id="dept">
  <input placeholder="Roll No" id="roll">
  <input placeholder="Sport" id="sport">
  <button type="submit">Submit</button>
</form>

<script>
document.getElementById("form").onsubmit = async (e)=>{
  e.preventDefault();
  await fetch("/player/api/register-single",{
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify({
      name:name.value,
      department:dept.value,
      roll_no:roll.value,
      sport:sport.value
    })
  });
  alert("Registered!");
}
</script>
