<form id="form">
  <input placeholder="Team Name" id="team">
  <input placeholder="Department" id="dept">
  <input placeholder="Sport" id="sport">
  <textarea id="players" placeholder="name,roll per line"></textarea>
  <button>Submit</button>
</form>

<script>
form.onsubmit=async(e)=>{
 e.preventDefault();
 const playersArr = players.value.split("\n").map(x=>{
   const [n,r]=x.split(",");
   return {name:n,roll_no:r}
 });
 await fetch("/player/api/register-team",{
   method:"POST",
   headers:{"Content-Type":"application/json"},
   body:JSON.stringify({
     team_name:team.value,
     department:dept.value,
     sport:sport.value,
     players:playersArr
   })
 });
 alert("Team Registered");
}
</script>
